################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/Agenda_teste/v15/Server/sqlite3
